<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Athenz Viewer :: {{pageTitle}}</title>
        <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/select2.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {{> header }}
        {{#if dashboard}}
          {{{body}}}
        {{else}}
          <div class="app-container container-fluid">
            {{> mydomains }}
            {{{body}}}
            {{> deleteconfirm }}
          </div>
        {{/if}}
        <script type="text/javascript">
          athenzParams = {{{json allParams}}}
          athenzScript = '{{athenzScript}}';
          zms = '{{zms}}';
          serviceFQN = '{{serviceFQN}}';
          userId = '{{user.name}}';
        </script>
        <script type="text/javascript" src="/assets/js/bundle.js"></script>
        <script type="text/javascript">
          if (!window.athenzScriptsLoaded) {
            alert('Athenz Javascript scripts failed to load. Please check your network connection or settings');
            document.body.classList.add('no-js');
            /* Reset form input elements so that they are usable */
            var nodes = document.body.querySelectorAll('form input[disabled], form textarea[disabled]');
            for(var i = 0; i < nodes.length; i++) {
              nodes[i].removeAttribute("disabled");
              nodes[i].removeAttribute("required");
            }
          }
        </script>
    </body>
</html>
<!-- {{servingHost}} - {{servingStamp}} - ({{servingTotal}}ms) -->
