<tr>
  <td class="effect">{{effect}}</td>
  <td class="action">{{action}}</td>
  <td class="name">{{role}}</td>
  <td class="name">{{resource}}</td>
  <td class="icon">
    <button formaction="{{deleteUrl}}" class="delete-statement icon-trash"></button>
  </td>
</tr>
