<div class="domains">
  <div class="create {{createDomainActive}}">
    <a href='/athenz/domain/create/domain'>Create a domain</a>
  </div>
  <div class="title {{manageDomainActive}}">
    <span>My Domains</span>
    <span><a href='/athenz/domain/manage'>Manage</a></span>
  </div>
  <ul>
    {{#each domains}}
    <li class="{{active}}">
      {{#if admin }}
        <a title="Admin" class="icon-admin" href="/athenz/domain/{{name}}/role">{{name}}</a>
      {{else}}
        <a class="icon-user" href="/athenz/domain/{{name}}/role">{{name}}</a>
      {{/if}}
    </li>
    {{/each}}
    {{#if noDomains}}
      <li>{{noDomains}}</li>
    {{/if}}
  </ul>
</div>
