<div class="pagination-container">
  <div class="text">
    <span class="start-index">{{startItemIndex}}</span>
    <span>-</span>
    <span class="end-index">{{endItemIndex}}</span>
    <span>of</span>
    <span class="total-count">{{totalItems}}</span>
  </div>
  <div title="first" class="first">
    <a class="icon-double-left" href="{{firstPage}}"></a>
  </div>
  <div title="previous" class="previous">
    <a class="icon-left" href="{{previousPage}}"></a>
  </div>
  <div title="next" class="next">
    <a class="icon-right" href="{{nextPage}}"></a>
  </div>
  <div title="last" class="last">
    <a class="icon-double-right" href="{{lastPage}}"></a>
  </div>
</div>
