<div class="radial-stat">
  <div class="title">{{title}}</div>
  <div class="content">
    <div class="chart">
      <canvas id="canvas-{{lowerCase title}}"></canvas>
      <div class="stat {{type}}">
        <span>{{formatNumber stat.data '0'}}</span>
        <span>{{stat.title}}</span>
      </div>
    </div>
    <div class="sections">
      {{#each sections}}
      {{>stat this extraClass=" icon-radio"}}
      {{/each}}
    </div>
  </div>
</div>
