<div class="resources-section">
  <!--a class="add-resource" href="{{addResource}}">+ Add a Resource</a-->
  <table cellspacing="0" class="resources-list">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Description</th>
        <!--<th>Delete</th>-->
      </tr>
    </thead>
    <tbody>
      {{#each items }}
      <tr>
        <td><a href="{{../itemURI}}{{id}}/policies">{{name}}</a></td>
        <td>{{description}}</td>
        <!--<td class="remove icon-trash"></td>-->
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
