{{#if auditLog.length}}
<div class="info-block history">
  <h5>Member History</h5>
  <table cellspacing="0">
    <thead>
      <tr>
        <th>Action</th>
        <th>Executed By</th>
        <th>Date</th>
        <th>Member</th>
      </tr>
      <tbody>
        {{#each auditLog}}
        <tr>
          <td>{{action}}</td>
          <td>
            {{#if admin.userlink}}
              <a target="_blank" rel="noopener" href="{{admin.userlink}}">
                {{admin.name}}
              </a>
            {{else}}
              {{admin.name}}
            {{/if}}
          </td>
          <td>{{formatDate created}}</td>
          <td>
            {{#if member.userlink}}
              <a target="_blank" rel="noopener" href="{{member.userlink}}">
                {{member.name}}
              </a>
            {{else}}
              {{member.name}}
            {{/if}}
         </td>
        </tr>
        {{/each}}
      </tbody>
    </thead>
  </table>
</div>
{{/if}}
