<div class="app-header">
  {{#if appContextMessage}}
  <div class="app-message {{appContextMessageType}}">{{appContextMessage}}</div>
  {{else}}
  <div class="hidden app-message {{appContextMessageType}}">{{appContextMessage}}</div>
  {{/if}}
  {{> breadcrumbs crumbs }}
  {{#if section.id}}
  <div class="expandable-content">
    <div class="title-container">
      <div class="app-title icon-{{entityType}}">
        <h1 title="{{section.id}}">
          {{section.id}}
        </h1>
      </div>
      {{#if domainDetails}}
      <button class="show-details">Show Details</button>
      {{/if}}
    </div>
    <div class="content">
      {{> domainMeta domainDetails}}
    </div>
  </div>
  {{/if}}
  {{#if subSections }}
  <div class="app-links">
    {{> navlinks subSections }}
  </div>
  {{/if}}
</div>
