<div class="header-container">
  {{> athenzlogo }}
  {{#unless noHeaderSearch}}
  {{> search }}
  {{/unless}}
  <div class="user-container">
    <div class="support">
      <div class="icon-question"></div>
      <div class="links">
        {{#each headerLinks }}
        <a target="{{target}}" rel="noopener" href="{{url}}">{{title}}</a>
        {{/each}}
      </div>
    </div>
    <a target="_blank" rel="noopener" class="user-profile" href="{{user.link}}">
      <img class="user-icon" src={{user.icon}} alt={{user.name}} />
    </a>
  </div>
</div>
