<tr id={{name}} class="{{active}} {{getRowClass @index}}">
  <td class="name">{{name}}</td>
  <td class="date">{{formatDate modified}}</td>
  <td title="Add Rule" class="icon trust"><span class="icon-trust"></span></td>
  <td class="icon"><span class="icon-more"></span></td>
  <td class="icon">
    <button type="button" formaction="{{deleteUrl}}" class="icon-trash delete-policy">
    </button>
  </td>
</tr>
<tr class="info hidden" id="{{name}}-info">
  <td colspan="5">
    <input type="hidden" name="policy" value="{{name}}" />
    <div class="add info-block hidden">
      {{>addpolicyruleform }}
    </div>
    <div class="info-block rules">
      <h5>Rules</h5>
      <table cellspacing="0">
        <thead>
          <tr>
            <th>Effect</th>
            <th>Action</th>
            <th>Role</th>
            <th>Resource</th>
            <th class="icon">Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each assertions }}
          {{> assertionrow}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </td>
</tr>
