<div>
  {{#if trust}}
  <h5>Delegated by: {{trust}}</h5>
  {{/if}}
  <h5>Members</h5>
  <form class="role-admin-delete" method="post">
    <input type="hidden" name="roles" value="{{name}}" />
    <input type="hidden" name="token" value="{{{allParams.token}}}" />
    <ul class="role-members">
      {{#each members}}
      <li>
        <div>
          <span>
            {{this.name}}
          </span>
          {{#unless ../trust}}
          <button
            formaction="/athenz/domain/{{../allParams.domainId}}/member/{{this.name}}/delete"
            type="submit" class="icon-trash">
          </button>
          {{/unless}}
        </div>
      </li>
      {{/each}}
    </ul>
  </form>
</div>
