<tr id={{name}} class="{{active}} {{getRowClass @index}}">
  <td class="name">{{name}}</td>
  <td>{{type}}</td>
  <td>{{formatDate modified}}</td>
  <td class="icon"><span class="icon-more"></span></td>
  <td class="icon role-delete"><button formaction="{{deleteUrl}}" class="icon-trash"></button></td>
</tr>
<tr class="info hidden" id="{{name}}-info">
  <td colspan="5">
    {{> roleadmins name=name members=members allParams=allParams}}
    {{> roleaudit }}
    {{#unless members}}
    <div class="error-message"></div>
    {{/unless}}
  </td>
</tr>
