<tr id={{name}} class="{{active}} {{getRowClass @index}}">
  <td class="name">{{name}}</td>
  <td class="date">{{formatDate modified}}</td>
  <td class="icon"><span class="icon-key"></span></td>
  <td class="icon"><span class="icon-more"></span></td>
  <td class="icon">
    <button formaction="{{deleteUrl}}" class="icon-trash delete-service">
    </button>
  </td>
</tr>
<tr class="info hidden" id="{{name}}-info">
  <td colspan="5">
    <input type="hidden" name="service" value="{{name}}" />
    <div class="add info-block hidden">
      {{>addkeyform }}
    </div>
    <div class="details">
      {{#if providerEndpoint}}
        <div><span class="item">Provider End Point</span><span><a href="{{providerEndpoint}}">{{providerEndpoint}}</a></span></div>
      {{/if}}
      {{#if hosts}}
        <div><span class="item">Hosts</span><span>{{hosts}}</span></div>
      {{/if}}
      {{#if user}}
        <div><span class="item">User</span><span>{{user}}</span></div>
      {{/if}}
      {{#if group}}
        <div><span class="item">Group</span><span>{{group}}</span></div>
      {{/if}}
    </div>
    <div class="info-block service-keys">
      <h5>Public Keys</h5>
      <table cellspacing="0">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each publicKeys}}
          {{> servicekeyrow }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </td>
</tr>
