<div class="app create-container">
  <div class="app-section">
    {{> appheader }}
    <div class="sections">
      <div class="button-container">
        <span class='domain-type'>Domain Type</span>
        <div class="create-buttons">
          {{#each domainTypes}}
          <a class="{{active}}" href="{{link}}">{{name}}</a>
          {{/each}}
        </div>
      </div>

      {{#if domainTypes.domain.active }}
      {{> adddomain }}
      {{else if domainTypes.subdomain.active }}
      {{> addsubdomain }}
      {{else if domainTypes.userdomain.active }}
      {{> adduserdomain }}
      {{/if}}
    </div>
  </div>
</div>
