<div class="app manage-container">
  <div class="app-section">
    {{> appheader }}
    <div class="domain-list">
      <table cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date Modified</th>
            <th class="icon">Detail</th>
            <th class="icon">Edit</th>
            <th class="icon">Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each domains }}
          <tr id="{{name}}" class="{{getRowClass @index}}">
            <td>
              {{#if admin }}
              <a title="Admin" class="icon-admin" href="/athenz/domain/{{name}}/role">{{name}}</a>
              {{else}}
              <a class="icon-user" href="/athenz/domain/{{name}}/role">{{name}}</a>
              {{/if}}
            </td>
            <td>
              {{type}}
            </td>
            <td>
              {{formatDate domainDetails.modified}}
            </td>
            <td class="icon"><span class="icon-more"></span></td>
            <td class="icon"><span class="icon-edit"></span></td>
            <td class="icon">
              {{#ifShowDeleteDomainIcon admin type}}
              <button class="icon-trash delete-domain" name="domain" value="{{name}}" type="submit" formaction="/athenz/domain/{{name}}/delete"></button>
              {{/ifShowDeleteDomainIcon}}
            </td>
          </tr>
          <tr class="info hidden" id="{{name}}-info">
            <td colspan="6">
              {{> domainMeta domainDetails}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
