<div class="app search-results-container home-container">
  <div class="app-section">
    <div class="app-navigation">
      <div class="desc">
        <!--h1>Welcome to Athenz</h1-->
        <!--<div class="welcome-athenz-logo"></div>-->
        <div class="details">
          Athenz - The next-gen fine grained access control for dynamic infrastructure.
        </div>
      </div>
      {{> search }}
      <div class="domain-list">
        <div class="desc">Search Results</div>
          <div class="search-results">
            <table cellspacing="0">
              <tbody>
                {{#each searchResults }}
                <tr>
                  <td>
                  {{#if this.userAdminDomain }}
                  <a title="Admin" class="icon-admin" href="/athenz/domain/{{this.name}}/role">
                    {{this.name}}
                  </a>
                  {{else if this.userDomain}}
                  <a title="User" class="icon-user" href="/athenz/domain/{{this.name}}/role">
                    {{this.name}}
                  </a>
                  {{else}}
                  <a href="/athenz/domain/{{this.name}}/role">{{this.name}}</a>
                  {{/if}}
                  </td>
                </tr>
                {{/each}}
                {{#if msg }}
                  <tr><td>{{msg}}</td></tr>
                {{/if}}
              </tbody>
            </table>
            {{> pagination pagination }}
          </div>
      </div>
    </div>
  </div>
</div>
